<mat-card class="example-card">
  <h1>AWS Rekognition...</h1>
  <div class="row">
    <div class="col">
      <div class="form-width">
        <label for="singleFile">Upload file</label>
        <input type="file" [(ngModel)] ="fileToUpload" (change)="uploadImage($event)" name="fileToUpload" id="fileToUpload" ng-accept="image/*">
      </div>

      <div>
        <img name ="preview" src="" height="200">
      </div> 
    </div>
    <div class="col">
      <mat-spinner *ngIf="loading" class="layout-center"></mat-spinner>
      <p>
        <ngb-alert *ngIf="error" type ="danger" [dismissible]="false">
          <strong>Opps!</strong> Could not retrive the result for given image. Please try with some different image
        </ngb-alert>
      </p>
      <p id="opResult"></p>
    </div> 
  </div>
 </mat-card>

