<div class="container">
  <div class="card card-register mx-auto mt-5">
    <button mat-raised-button color="primary" (click)="deleteAllFaces()">Delete All Faces</button>

    <button mat-raised-button color="primary" (click)="getAllFaces()">GetAllFaces</button>


    <button mat-raised-button color="primary" (click)="captureImage()">Start Camera</button>


    <div>Size : {{facesLength}}</div>
    <div>message: {{message}}</div>
    <img id="capturedImage" style="height:100vh;width:100%" [hidden]="hideImage">
</div>
</div>
