<form>
  	<div class="inputGroup inputGroup2">
        <label for="fname">First name</label>
        <input type="text" id="fname" class="password" />
      </div>
      <div class="inputGroup inputGroup2">
          <label for="surname">Surname</label>
          <input type="text" id="surname" class="password" />
        </div>
	<div class="inputGroup inputGroup1">
		<label for="email1">Email</label>
		<input type="text" id="email" class="email" maxlength="256" />
		<p class="helper helper1">email@domain.com</p>
		<span class="indicator"></span>
	</div>
	
	<div class="inputGroup inputGroup3">
		<button id="login">Sign up</button>
	</div>
</form>