<!-- <mat-card class="example-card">
    <h1>Sign up</h1>

    <div class="alert alert-info" role="alert" *ngIf="signUpSuccess">
        Successfully signed in
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="signUpFailed">
        <strong>Opps!</strong> Something went wrong. Please try again
    </div>
    <form novalidate (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="row">
            <div class="col-xs-5">
                <div class="form-group" [ngClass]="{
                           'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
                           'has-success': firstName.valid && (firstName.dirty || firstName.touched)
                      }">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" required #firstName="ngModel">
                    <div class="form-control-feedback" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
                        <p *ngIf="firstName.errors.required">First name is required</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5">
                <div class="form-group" [ngClass]="{
            'has-danger': lastName.invalid && (lastName.dirty || lastName.touched),
            'has-success': lastName.valid && (lastName.dirty || lastName.touched)
       }">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" required #lastName="ngModel">
                    <div class="form-control-feedback" *ngIf="lastName.errors && (lastName.dirty || lastName.touched)">
                        <p *ngIf="lastName.errors.required">Last name is required</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5">
                <div class="form-group" [ngClass]="{
            'has-danger': email.invalid && (email.dirty || email.touched),
            'has-success': email.valid && (email.dirty || email.touched)
       }">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" [(ngModel)]="model.email" required pattern="[^ @]*@[^ @]*" #email="ngModel">
                    <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                        <p *ngIf="email.errors.required">Email is required</p>
                        <p *ngIf="email.errors.pattern">Email must contain at least the @ character</p>
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
                <div class="col-xs-5">
                    <div class="form-group">
                        <label for="sourceFileToUpload">Password file input</label>
                        <input capture type="file" [(ngModel)]="sourceFileToUpload" class="form-control-file" (change)="processImage($event)" name="sourceFileToUpload"
                         id="sourceFileToUpload" ng-accept="image/*">
                    </div>
                </div>
            </div> 

        <div class="row">
            <div class="form-group">
                <label for="video">Facial password</label>
                <button (click)="playVideo()" type="button" class="mr-3 btn btn-outline-secondary">Play Video</button>
                <button (click)="snapImage()" type="button" class="mr-3 btn btn-outline-secondary">Snap image</button>
                <button (click)="stopVideo()" type="button" class="btn btn-outline-secondary">Stop Video</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5" *ngIf="videoDisplay">
                <div class="form-group">
                    <video #video id="video" width="480" height="480" autoplay></video>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="form-group">
                    <canvas #canvas id="canvas" width="480" height="480" [hidden]=true></canvas>
                    <img src="{{capturedImage}}" width="480" height="480" *ngIf="capturedImage" />
                </div>
            </div>
        </div>


        <mat-spinner *ngIf="loading" class="layout-center"></mat-spinner>

        <button (click)="onSubmit()" class="btn btn-primary">Sign Up</button>


    </form>
</mat-card> -->

<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register an Account</div>
        <div class="card-body">
            <div class="alert alert-info" role="alert" *ngIf="signUpSuccess">
                Successfully signed in
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="signUpFailed">
                <strong>Opps!</strong> Something went wrong. Please try again
            </div>
            <form novalidate (ngSubmit)="onSubmit()" #f="ngForm">
                <!-- <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="exampleInputName">First name</label>
                            <input class="form-control" name="firstName" [(ngModel)]="model.firstName" required #firstName="ngModel" id="exampleInputName" type="text"
                                aria-describedby="nameHelp" placeholder="Enter first name">
                        </div>
                        <div class="col-md-6">
                            <label for="exampleInputLastName">Last name</label>
                            <input class="form-control" name="lastName" [(ngModel)]="model.lastName" required #lastName="ngModel" id="exampleInputLastName" type="text"
                                aria-describedby="nameHelp" placeholder="Enter last name">
                        </div>
                    </div>
                </div> -->
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input class="form-control" name="email" [(ngModel)]="model.email" required pattern="[^ @]*@[^ @]*" #email="ngModel" id="exampleInputEmail1"
                        type="email" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group mb-0">
                    <label for="video">Upload Documents</label>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-xs-5">
                            <input capture type="file" [(ngModel)]="sourceFileToUpload" class="form-control-file" (change)="processImage($event)" name="sourceFileToUpload"
                                id="sourceFileToUpload" ng-accept="image/*">
                        </div>
                        <div class="col-xs-5">
                            <i class="fa fa-circle-o-notch fa-spin" *ngIf="loadingText" style="font-size:24px"></i>
                        </div>
                    </div>
                    <!-- <button (click)="playVideo()" type="button" class="mr-3 btn btn-outline-secondary">Play Video</button>
                    <button (click)="snapImage()" type="button" class="mr-3 btn btn-outline-secondary">Snap image</button> -->
                </div>

                <div class="form-group" *ngIf="videoDisplay">
                    <video #video id="video" autoplay></video>
                </div>

                <!-- <div class="form-group" *ngIf="capturedImage">
                    <img src="{{capturedImage}}" *ngIf="capturedImage" />
                </div> -->
                <dl class="row" *ngIf="person">
                    <dt class="col-sm-3">Name</dt>
                    <dd class="col-sm-9">{{person.name}}</dd>

                    <dt class="col-sm-3">Card number</dt>
                    <dd class="col-sm-9">{{person.cardNumber}}</dd>

                    <dt class="col-sm-3">Address</dt>
                    <dd class="col-sm-9">{{person.address}}</dd>

                    <dt class="col-sm-3">Licence number</dt>
                    <dd class="col-sm-9">{{person.licenceNo}}</dd>

                    <dt class="col-sm-3">Licence Class</dt>
                    <dd class="col-sm-9">{{person.licenseClass}}</dd>

                    <dt class="col-sm-3">Date Of Birth</dt>
                    <dd class="col-sm-9">{{person.dateOfBirth}}</dd>

                    <dt class="col-sm-3">Expiry Date</dt>
                    <dd class="col-sm-9">{{person.dateOfExpiry}}</dd>
                </dl>
                <canvas #canvas id="canvas" width="480" height="480" [hidden]=true></canvas>
                <a class="btn btn-primary btn-block" (click)="onSubmit()">Register
                    <i class="fa fa-circle-o-notch fa-spin" *ngIf="loading"></i>
                </a>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" routerLink="/login">Login Page</a>
            </div>
        </div>
    </div>
</div>